<div style="color:#09f;"><%= story_item.worker.psuedonym%></div>
<div><%= story_item.story%></div>
<p>---------------------------------------------------------------------------------------------------</p>
